In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
df=pd.read_csv("D:\coding\python\ml\Sonar.csv")
df.sample(5)

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
60,0.0135,0.0045,0.0051,0.0289,0.0561,0.0929,0.1031,0.0883,0.1596,0.1908,...,0.0037,0.0084,0.0102,0.0096,0.0024,0.0037,0.0028,0.0030,0.0030,R
123,0.0388,0.0324,0.0688,0.0898,0.1267,0.1515,0.2134,0.2613,0.2832,0.2718,...,0.0255,0.0071,0.0263,0.0079,0.0111,0.0107,0.0068,0.0097,0.0067,M
32,0.0442,0.0477,0.0049,0.0581,0.0278,0.0678,0.1664,0.1490,0.0974,0.1268,...,0.0204,0.0216,0.0135,0.0055,0.0073,0.0080,0.0105,0.0059,0.0105,R
135,0.1088,0.1278,0.0926,0.1234,0.1276,0.1731,0.1948,0.4262,0.6828,0.5761,...,0.0455,0.0213,0.0082,0.0124,0.0167,0.0103,0.0205,0.0178,0.0187,M
4,0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062,R

In [8]:
df.shape

(207, 61)

In [9]:
df.isna().sum()

0.0200    0
0.0371    0
0.0428    0
0.0207    0
0.0954    0
         ..
0.0180    0
0.0084    0
0.0090    0
0.0032    0
R         0
Length: 61, dtype: int64

In [10]:
df.columns

Index(['0.0200', '0.0371', '0.0428', '0.0207', '0.0954', '0.0986', '0.1539',
       '0.1601', '0.3109', '0.2111', '0.1609', '0.1582', '0.2238', '0.0645',
       '0.0660', '0.2273', '0.3100', '0.2999', '0.5078', '0.4797', '0.5783',
       '0.5071', '0.4328', '0.5550', '0.6711', '0.6415', '0.7104', '0.8080',
       '0.6791', '0.3857', '0.1307', '0.2604', '0.5121', '0.7547', '0.8537',
       '0.8507', '0.6692', '0.6097', '0.4943', '0.2744', '0.0510', '0.2834',
       '0.2825', '0.4256', '0.2641', '0.1386', '0.1051', '0.1343', '0.0383',
       '0.0324', '0.0232', '0.0027', '0.0065', '0.0159', '0.0072', '0.0167',
       '0.0180', '0.0084', '0.0090', '0.0032', 'R'],
      dtype='object')

In [21]:
x = df.drop(df.columns[60], axis=1)
y = df[df.columns[60]]
y.head()

0    R
1    R
2    R
3    R
4    R
Name: R, dtype: object

In [22]:
y = pd.get_dummies(y, drop_first=True)
y.sample(5) # R --> 1 and M --> 0

     R
62   1
125  0
119  0
145  0
164  0

In [23]:
y.value_counts()

R
0    111
1     96
dtype: int64

In [24]:
x.head()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
0,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0125,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044
1,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0033,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078
2,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0241,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117
3,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0156,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094
4,0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.0104,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y ,test_size=0.25 , random_state=1)

In [27]:
x_train.head()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
67,0.0195,0.0142,0.0181,0.0406,0.0391,0.0249,0.0892,0.0973,0.0840,0.1191,...,0.0125,0.0028,0.0067,0.0120,0.0012,0.0022,0.0058,0.0042,0.0067,0.0012
14,0.0298,0.0615,0.0650,0.0921,0.1615,0.2294,0.2176,0.2033,0.1459,0.0852,...,0.0154,0.0031,0.0153,0.0071,0.0212,0.0076,0.0152,0.0049,0.0200,0.0073
164,0.0221,0.0065,0.0164,0.0487,0.0519,0.0849,0.0812,0.1833,0.2228,0.1810,...,0.0167,0.0089,0.0051,0.0015,0.0075,0.0058,0.0016,0.0070,0.0074,0.0038
179,0.0310,0.0221,0.0433,0.0191,0.0964,0.1827,0.1106,0.1702,0.2804,0.4432,...,0.0249,0.0204,0.0059,0.0053,0.0079,0.0037,0.0015,0.0056,0.0067,0.0054
19,0.0473,0.0509,0.0819,0.1252,0.1783,0.3070,0.3008,0.2362,0.3830,0.3759,...,0.0107,0.0193,0.0118,0.0064,0.0042,0.0054,0.0049,0.0082,0.0028,0.0027

In [28]:
import tensorflow as tf
from tensorflow import keras

In [29]:
model = keras.Sequential([
keras.layers.Dense(60, input_dim=60, activation='relu'),
keras.layers.Dense(30, activation='relu'),
keras.layers.Dense(15, activation='relu'),
keras.layers.Dense(1, activation='sigmoid')
])

In [30]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [32]:
model.fit(x_train, y_train, epochs=20, batch_size=8)

Epoch 1/20
20/20 [==============================] - 1s 1ms/step - loss: 0.6891 - accuracy: 0.5419
Epoch 2/20
20/20 [==============================] - 0s 2ms/step - loss: 0.6721 - accuracy: 0.5935
Epoch 3/20
20/20 [==============================] - 0s 1ms/step - loss: 0.6526 - accuracy: 0.6452
Epoch 4/20
20/20 [==============================] - 0s 1ms/step - loss: 0.6282 - accuracy: 0.6968
Epoch 5/20
20/20 [==============================] - 0s 1ms/step - loss: 0.6046 - accuracy: 0.6968
Epoch 6/20
20/20 [==============================] - 0s 1ms/step - loss: 0.5856 - accuracy: 0.7097
Epoch 7/20
20/20 [==============================] - 0s 1ms/step - loss: 0.5515 - accuracy: 0.7226
Epoch 8/20
20/20 [==============================] - 0s 1ms/step - loss: 0.5242 - accuracy: 0.7355
Epoch 9/20
20/20 [==============================] - 0s 1ms/step - loss: 0.5066 - accuracy: 0.7806
Epoch 10/20
20/20 [==============================] - 0s 1ms/step - loss: 0.4724 - accuracy: 0.7935
Epoch 11/20
20/20 [==============================] - 0s 1ms/step - loss: 0.4639 - accuracy: 0.8065
Epoch 12/20
20/20 [==============================] - 0s 1ms/step - loss: 0.4540 - accuracy: 0.8323
Epoch 13/20
20/20 [==============================] - 0s 1ms/step - loss: 0.4328 - accuracy: 0.7935
Epoch 14/20
20/20 [==============================] - 0s 1ms/step - loss: 0.4111 - accuracy: 0.8323
Epoch 15/20
20/20 [==============================] - 0s 1ms/step - loss: 0.3938 - accuracy: 0.8258
Epoch 16/20
20/20 [==============================] - 0s 1ms/step - loss: 0.3810 - accuracy: 0.8323
Epoch 17/20
20/20 [==============================] - 0s 2ms/step - loss: 0.3928 - accuracy: 0.8258
Epoch 18/20
20/20 [==============================] - 0s 2ms/step - loss: 0.3694 - accuracy: 0.8323
Epoch 19/20
20/20 [==============================] - 0s 2ms/step - loss: 0.3745 - accuracy: 0.8000
Epoch 20/20
20/20 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8645

In [33]:
model.evaluate(x_test,y_test)

2/2 [==============================] - 0s 2ms/step - loss: 0.4966 - accuracy: 0.7308

[0.4965570867061615, 0.7307692170143127]

In [35]:
y_pred = model.predict(x_test).reshape(-1)
print(y_pred[:10])

2/2 [==============================] - 0s 1ms/step
[0.2022746  0.39239717 0.23510659 0.11556124 0.9652814  0.7363513
 0.8054665  0.09027984 0.29812494 0.962081  ]

In [37]:
y_pred=np.round(y_pred)
print(y_pred[:10])

[0. 0. 0. 0. 1. 1. 1. 0. 0. 1.]

In [38]:
y_test[:10]

     R
186  0
155  0
165  0
200  0
58   1
34   1
151  0
18   1
202  0
62   1

In [39]:
from sklearn.metrics import confusion_matrix , classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.59      0.70        27
           1       0.67      0.88      0.76        25

    accuracy                           0.73        52
   macro avg       0.75      0.74      0.73        52
weighted avg       0.76      0.73      0.73        52